      /* .carouselImage{
        margin: 100px 10px;
        max-width: 500px;
        height: 400px;
      } */
      /* img{
        aspect-ratio: 3/2;
        max-width: 500px;
        height: 500px;
      } */